# Author: Kota Miura
# kotapub@gmail.com

EMBL, "IJ Javadoc...", emblcmci.teach.Sample_Loader("http://rsb.info.nih.gov/ij/developer/api/")
EMBL, "IJ Github...", emblcmci.teach.Sample_Loader("https://github.com/fiji/imagej1/")
EMBL, "CMCI website...", emblcmci.teach.Sample_Loader("http://wiki.cmci.info/")
EMBL, "CMCI Textbooks...", emblcmci.teach.Sample_Loader("http://wiki.cmci.info/documents/ijcourses/")
EMBL, "CMCI Jython CookBook...", emblcmci.teach.Sample_Loader("http://wiki.cmci.info/documents/120206pyip_cooking/python_imagej_cookbook/")
# EMBL>Samples, "1703-2(3s-20s).stk(6.6M)", ij.plugin.URLOpener("http://wiki.cmci.info/sampleimages/1703-2(3s-20s).stk")
EMBL>Samples, "About Samples", emblcmci.teach.Sample_Loader("about")
EMBL>Samples, "-"
EMBL>Samples, "1703.tif (6.6M)", ij.plugin.URLOpener("http://wiki.cmci.info/sampleimages/1703.tif")
EMBL>Samples, "2D_Gel.tif (0.3M)", ij.plugin.URLOpener("http://wiki.cmci.info/sampleimages/2D_Gel.tif")
EMBL>Samples, "4color_cells.tif (2.7M)", ij.plugin.URLOpener("http://wiki.cmci.info/sampleimages/4color_cells.tif")
EMBL>Samples, "4pixelimage_sample.tif (0.8k)", ij.plugin.URLOpener("http://wiki.cmci.info/sampleimages/4pixelimage_sample.tif")
EMBL>Samples, "actin.tif (1.2M)", ij.plugin.URLOpener("http://wiki.cmci.info/sampleimages/actin.tif")
EMBL>Samples, "BBBC024c1n0_crop.tif (9.9M)", ij.plugin.URLOpener("http://wiki.cmci.info/sampleimages/BBBC024c1n0_crop.tif")
EMBL>Samples, "blobs.tif (65k)", ij.plugin.URLOpener("http://wiki.cmci.info/sampleimages/blobs.tif")
EMBL>Samples, "book-text.tif (0.23M)", ij.plugin.URLOpener("http://wiki.cmci.info/sampleimages/book-text.tif")
EMBL>Samples, "Celegans.png (0.61M)", ij.plugin.URLOpener("http://wiki.cmci.info/sampleimages/Celegans.png")
EMBL>Samples, "Cell_Colony.tif (0.17M)", ij.plugin.URLOpener("http://wiki.cmci.info/sampleimages/Cell_Colony.tif")
EMBL>Samples, "cells_ActinDNA.tif (1.3M)", ij.plugin.URLOpener("http://wiki.cmci.info/sampleimages/cells_ActinDNA.tif")
EMBL>Samples, "cells_Actin.tif (1.3M)", ij.plugin.URLOpener("http://wiki.cmci.info/sampleimages/cells_Actin.tif")
#EMBL>Samples, "centrosomes.lsm (13.3M)", ij.plugin.URLOpener("http://wiki.cmci.info/sampleimages/centrosomes.lsm")
EMBL>Samples, "save centrosomes.lsm (13.3M)", emblcmci.webio.URLSaver("http://wiki.cmci.info/sampleimages/centrosomes.lsm")
EMBL>Samples, "circles.tif (4k)", ij.plugin.URLOpener("http://wiki.cmci.info/sampleimages/circles.tif")
EMBL>Samples, "control_1s.tif (6.7M)", ij.plugin.URLOpener("http://wiki.cmci.info/sampleimages/control_1s.tif")
EMBL>Samples, "dic_cell.tif (30k)", ij.plugin.URLOpener("http://wiki.cmci.info/sampleimages/dic_cell.tif")
EMBL>Samples, "eb1_8b.tif (14M)", ij.plugin.URLOpener("http://wiki.cmci.info/sampleimages/eb1_8b.tif")
EMBL>Samples, "eg5_spindle_50018.tif (0.2M)", ij.plugin.URLOpener("http://wiki.cmci.info/sampleimages/eg5_spindle_50018.tif")
EMBL>Samples, "FISH2D.tif (79k)", ij.plugin.URLOpener("http://wiki.cmci.info/sampleimages/FISH2D.tif")
EMBL>Samples, "FluorescentCells.tif (1.0M)", ij.plugin.URLOpener("http://wiki.cmci.info/sampleimages/FluorescentCells.tif")
EMBL>Samples, "g1f.tif (0.28M)", ij.plugin.URLOpener("http://wiki.cmci.info/sampleimages/g1f.tif")
EMBL>Samples, "gel_inv.tif (0.13M)", ij.plugin.URLOpener("http://wiki.cmci.info/sampleimages/gel_inv.tif")
EMBL>Samples, "GFPAX20013.tif (5.1M)", ij.plugin.URLOpener("http://wiki.cmci.info/sampleimages/GFPAX20013-1.tif.zip")
EMBL>Samples, "illusion.tif (0.12M)", ij.plugin.URLOpener("http://wiki.cmci.info/sampleimages/illusion.tif")
EMBL>Samples, "invitroMT.tif (0.58M)", ij.plugin.URLOpener("http://wiki.cmci.info/sampleimages/invitroMT.tif")
EMBL>Samples, "invitroMT3.tif (0.58M)", ij.plugin.URLOpener("http://wiki.cmci.info/sampleimages/invitroMT3.tif")
EMBL>Samples, "kin.tif(10M)", ij.plugin.URLOpener("http://wiki.cmci.info/sampleimages/kin.tif")
EMBL>Samples, "listeriacells.tif (8.6M)", ij.plugin.URLOpener("http://wiki.cmci.info/sampleimages/listeriacells.tif")
EMBL>Samples, "m51.tif (0.33M)", ij.plugin.URLOpener("http://wiki.cmci.info/sampleimages/m51.tif")
EMBL>Samples, "micrometer.jpg (0.1M)", ij.plugin.URLOpener("http://wiki.cmci.info/sampleimages/micrometer.jpg")
EMBL>Samples, "microtubule.tif (0.1M)", ij.plugin.URLOpener("http://wiki.cmci.info/sampleimages/microtubule.tif")
EMBL>Samples, "microtubules_Scharrel2014_mmc2.tif (0.3M)", ij.plugin.URLOpener("http://wiki.cmci.info/sampleimages/microtubules_Scharrel2014_mmc2.tif")
EMBL>Samples, "Microtubules_deconvolution.tif (6.9M)", ij.plugin.URLOpener("http://wiki.cmci.info/sampleimages/Microtubules_deconvolution.tif")
EMBL>Samples, "mitosis_4D.tif (17M)", ij.plugin.URLOpener("http://wiki.cmci.info/sampleimages/mitosis_4D.tif")
EMBL>Samples, "mitosis_anaphase_3D.tif (1.05M)", ij.plugin.URLOpener("http://wiki.cmci.info/sampleimages/mitosis_anaphase_3D.tif")
EMBL>Samples, "NPC1.tif (31.4M)", ij.plugin.URLOpener("http://wiki.cmci.info/sampleimages/NPC1.tif")
EMBL>Samples, "NPC_T01.tif (2.1M)", ij.plugin.URLOpener("http://wiki.cmci.info/sampleimages/NPC_T01.tif")
EMBL>Samples, "NPC_T15.tif (2.1M)", ij.plugin.URLOpener("http://wiki.cmci.info/sampleimages/NPC_T15.tif")
EMBL>Samples, "NPCsingleNucleus (997k)", ij.plugin.URLOpener("http://wiki.cmci.info/sampleimages/NPCsingleNucleus.tif")
EMBL>Samples, "noisy-fingerprint.tif (10k)", ij.plugin.URLOpener("http://wiki.cmci.info/sampleimages/noisy-fingerprint.tif")
EMBL>Samples, "NucleiDAPIconfocal.png (245k)", ij.plugin.URLOpener("http://fiji.sc/images/8/83/NucleiDAPIconfocal.png")
EMBL>Samples, "PSFDefocus.tif (1M)", ij.plugin.URLOpener("http://wiki.cmci.info/sampleimages/PSFDefocus.tif")
EMBL>Samples, "quantumdots.tif (0.11M)", ij.plugin.URLOpener("http://wiki.cmci.info/sampleimages/quantumdots.tif")
EMBL>Samples, "RGB_cell.tif (1.0M)", ij.plugin.URLOpener("http://wiki.cmci.info/sampleimages/RGB_cell.tif")
EMBL>Samples, "rice.tif (65k)", ij.plugin.URLOpener("http://wiki.cmci.info/sampleimages/rice.tif")
EMBL>Samples, "spindleframes.tif (7.6M)", ij.plugin.URLOpener("http://wiki.cmci.info/sampleimages/spindleframes.tif")
EMBL>Samples, "TransportOfEndosomalVirus.tif (4.5M)", ij.plugin.URLOpener("http://wiki.cmci.info/sampleimages/TransportOfEndosomalVirus.tif")
EMBL>Samples, "virus.tif (2.6M)", ij.plugin.URLOpener("http://wiki.cmci.info/sampleimages/virus.tif")
EMBL>Samples, "virusF1.tif (0.3M)", ij.plugin.URLOpener("http://wiki.cmci.info/sampleimages/virusF1.tif")
EMBL>Samples, "wt1.tif (0.1M)", ij.plugin.URLOpener("http://wiki.cmci.info/sampleimages/wt1.tif")
EMBL>Samples, "yeastDivision3DT.tif (3.0M)", ij.plugin.URLOpener("http://wiki.cmci.info/sampleimages/yeastDivision3DT.tif")
EMBL>Samples, "yeastNucleus3DT.tif (2.0M)", ij.plugin.URLOpener("http://wiki.cmci.info/sampleimages/yeastNucleus3DT.tif")
EMBL>Samples, "-"
EMBL>Samples, "AFD_AIY.czi (45.2M)", emblcmci.webio.URLSaver("http://wiki.cmci.info/sampleimages/AFD_AIY.czi")
EMBL>Samples, "AFD_AIY.lsm (47.3M)", emblcmci.webio.URLSaver("http://wiki.cmci.info/sampleimages/AFD_AIY.lsm")
EMBL>Samples, "Save macrocourse.zip (19.7M)", emblcmci.webio.URLSaver("http://wiki.cmci.info/sampleimages/macrocourse.zip")
EMBL>Samples, "Save NucSeq4.zip (10.5M)", emblcmci.webio.URLSaver("http://wiki.cmci.info/sampleimages/NucSeq4.zip")
EMBL>Samples, "Save spindleframes.zip (4.8M)", emblcmci.webio.URLSaver("http://wiki.cmci.info/sampleimages/spindle-frames.zip")
Help>About Plugins, "EMBL Image Samples", emblcmci.teach.Sample_Loader("about")
EMBL>CourseModule, "About Plugins",  emblcmci.external.it.catania.ModuleInfo_("about")
EMBL>CourseModule, "-"
EMBL>CourseModule, "Logarithm", emblcmci.external.it.catania.Logarithm_
EMBL>CourseModule, "Power Law", emblcmci.external.it.catania.Power_Law
#EMBL>CourseModule, "Auto Gamma", Auto_Gamma
EMBL>CourseModule, "Contrast Stretching", emblcmci.external.it.catania.Contrast_Stretching
EMBL>CourseModule, "-"
EMBL>CourseModule, "HighpassFilters_", emblcmci.external.it.catania.HighpassFilters_
EMBL>CourseModule, "LowpassFilters ", emblcmci.external.it.catania.LowpassFilters_
EMBL>CourseModule, "BandControl ", emblcmci.external.it.catania.BandControl_
EMBL>CourseModule, "Bandpass Bandreject Filter", emblcmci.external.it.catania.Bandpass_Bandreject_Filter
EMBL>CourseModule, "Laplacian ", emblcmci.external.it.catania.Laplacian_ 
EMBL>CourseModule, "-"
EMBL>CourseModule, "Adaptive Filters", emblcmci.external.it.catania.Adaptive_Filters
EMBL>CourseModule, "Mean Filters", emblcmci.external.it.catania.Mean_Filters
EMBL>CourseModule, "Morphology", emblcmci.external.it.catania.Morphology_
EMBL>CourseModule, "Order_Statistics_Filters", emblcmci.external.it.catania.Order_Statistics_Filters
EMBL>CourseModule, "-"
EMBL>CourseModule, "LoG", emblcmci.external.it.catania.LoG_
EMBL>CourseModule, "Canny", emblcmci.external.it.catania.Canny_
EMBL>CourseModule, "Harris ", emblcmci.external.it.catania.Harris_
Help>About Plugins, "CMCI Course Modules", emblcmci.external.it.catania.ModuleInfo_("about")
#
# Literatures
#
EMBL>References, "Bolte & Cordelieres (2006), A guided tour into subcellular colocalization analysis in light microscopy", emblcmci.teach.Sample_Loader("http://www.ncbi.nlm.nih.gov/pubmed/17210054/")
#EMBL>References, "Cromey (2010), Digital Images Are Data: And Should Be Treated as Such", emblcmci.webio.URLSaver("http://swehsc.pharmacy.arizona.edu/exppath/resources/pdf/Digital_Imaging_Ethics.pdf")
EMBL>References, "Cromey (2013), Digital Images Are Data: And Should Be Treated as Such", emblcmci.teach.Sample_Loader("https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4210356/")
EMBL>References, "Roeder et.al. (2012), A computational image analysis glossary for biologists", emblcmci.teach.Sample_Loader("http://dev.biologists.org/content/139/17/3071.long/")

EMBL>References, "Rossner & Yamada (2004) What's in a picture? The temptation of image manipulation", emblcmci.teach.Sample_Loader("http://jcb.rupress.org/content/166/1/11.full/")
EMBL>References, "Waters (2009), Accuracy and precision in quantitative fluorescence microscopy", emblcmci.teach.Sample_Loader("http://www.ncbi.nlm.nih.gov/pmc/articles/PMC2712964/")
