# Author: Kota Miura
# miura@embl.de

EMBL, "IJ Javadoc...", emblcmci.teach.Sample_Loader("http://rsb.info.nih.gov/ij/developer/api/")
EMBL, "IJ Github...", emblcmci.teach.Sample_Loader("https://github.com/fiji/imagej/")
EMBL, "CMCI website...", emblcmci.teach.Sample_Loader("http://cmci.embl.de/")
EMBL, "CMCI Textbooks...", emblcmci.teach.Sample_Loader("http://cmci.embl.de/documents/ijcourses/")
# EMBL>Samples, "1703-2(3s-20s).stk(6.6M)", ij.plugin.URLOpener("http://cmci.embl.de/sampleimages/1703-2(3s-20s).stk")
EMBL>Samples, "1703-2(3s-20s).stk(6.6M)", ij.plugin.URLOpener("http://cmci.embl.de/sampleimages/1703.tif")
EMBL>Samples, "2D_Gel.tif (0.3M)", ij.plugin.URLOpener("http://cmci.embl.de/sampleimages/2D_Gel.tif")
EMBL>Samples, "4color_cells.tif (2.7M)", ij.plugin.URLOpener("http://cmci.embl.de/sampleimages/4color_cells.tif")
EMBL>Samples, "4pixelimage_sample.tif (0.8k)", ij.plugin.URLOpener("http://cmci.embl.de/sampleimages/4pixelimage_sample.tif")
EMBL>Samples, "actin.tif 1.2M)", ij.plugin.URLOpener("http://cmci.embl.de/sampleimages/actin.tif")
EMBL>Samples, "blobs.tif (65k)", ij.plugin.URLOpener("http://cmci.embl.de/sampleimages/blobs.tif")
EMBL>Samples, "book-text.tif (0.23M)", ij.plugin.URLOpener("http://cmci.embl.de/sampleimages/book-text.tif")
EMBL>Samples, "Cell_Colony.tif (0.17M)", ij.plugin.URLOpener("http://cmci.embl.de/sampleimages/Cell_Colony.tif")
EMBL>Samples, "cells_ActinDNA.tif (1.3M)", ij.plugin.URLOpener("http://cmci.embl.de/sampleimages/cells_ActinDNA.tif")
EMBL>Samples, "cells_Actin.tif (1.3M)", ij.plugin.URLOpener("http://cmci.embl.de/sampleimages/cells_Actin.tif")
EMBL>Samples, "circles.tif (4k)", ij.plugin.URLOpener("http://cmci.embl.de/sampleimages/circles.tif")
EMBL>Samples, "control_1s.tif (6.7M)", ij.plugin.URLOpener("http://cmci.embl.de/sampleimages/control_1s.tif")
EMBL>Samples, "dic_cell.tif (30k)", ij.plugin.URLOpener("http://cmci.embl.de/sampleimages/dic_cell.tif")
EMBL>Samples, "eb1_8b.tif (14M)", ij.plugin.URLOpener("http://cmci.embl.de/sampleimages/eb1_8b.tif")
EMBL>Samples, "eg5_spindle_50018.tif (0.2M)", ij.plugin.URLOpener("http://cmci.embl.de/sampleimages/eg5_spindle_50018.tif")
EMBL>Samples, "FluorescentCells.tif (1.0M)", ij.plugin.URLOpener("http://cmci.embl.de/sampleimages/FluorescentCells.tif")
EMBL>Samples, "g1f.tif (0.28M)", ij.plugin.URLOpener("http://cmci.embl.de/sampleimages/g1f.tif")
EMBL>Samples, "gel_inv.tif (0.13M)", ij.plugin.URLOpener("http://cmci.embl.de/sampleimages/gel_inv.tif")
EMBL>Samples, "kin.tif(10M)", ij.plugin.URLOpener("http://cmci.embl.de/sampleimages/kin.tif")
EMBL>Samples, "listeriacells.tif (8.6M)", ij.plugin.URLOpener("http://cmci.embl.de/sampleimages/listeriacells.tif")
EMBL>Samples, "macrocourse.zip (18.8M)", emblcmci.URLSaver("http://cmci.embl.de/sampleimages/macrocourse.zip")
EMBL>Samples, "m51.tif (0.33M)", ij.plugin.URLOpener("http://cmci.embl.de/sampleimages/m51.tif")
EMBL>Samples, "microtubule.tif (0.1M)", ij.plugin.URLOpener("http://cmci.embl.de/sampleimages/microtubule.tif")
EMBL>Samples, "Microtubules_deconvolution.tif (6.9M)", ij.plugin.URLOpener("http://cmci.embl.de/sampleimages/Microtubules_deconvolution.tif")
EMBL>Samples, "noisy-fingerprint.tif (10k)", ij.plugin.URLOpener("http://cmci.embl.de/sampleimages/noisy-fingerprint.tif")
EMBL>Samples, "PSFDefocus.tif (1M)", ij.plugin.URLOpener("http://cmci.embl.de/sampleimages/PSFDefocus.tif")
EMBL>Samples, "quantumdots.tif (0.11M)", ij.plugin.URLOpener("http://cmci.embl.de/sampleimages/quantumdots.tif")
EMBL>Samples, "RGB_cell.tif (1.0M)", ij.plugin.URLOpener("http://cmci.embl.de/sampleimages/RGB_cell.tif")
EMBL>Samples, "rice.tif (65k)", ij.plugin.URLOpener("http://cmci.embl.de/sampleimages/rice.tif")
EMBL>Samples, "spindleframes.tif (7.6M)", ij.plugin.URLOpener("http://cmci.embl.de/sampleimages/spindleframes.tif")
EMBL>Samples, "spindleframes.zip (4.8M)", emblcmci.webio.URLSaver("http://cmci.embl.de/sampleimages/spindle-frames.zip")
EMBL>Samples, "TransportOfEndosomalVirus.tif (4.5M)", ij.plugin.URLOpener("http://cmci.embl.de/sampleimages/TransportOfEndosomalVirus.tif")
EMBL>Samples, "virus.tif (2.6M)", ij.plugin.URLOpener("http://cmci.embl.de/sampleimages/virus.tif")
EMBL>Samples, "virusF1.tif (0.3M)", ij.plugin.URLOpener("http://cmci.embl.de/sampleimages/virusF1.tif")
EMBL>Samples, "wt1.tif (0.1M)", ij.plugin.URLOpener("http://cmci.embl.de/sampleimages/wt1.tif")
Help>About Plugins, "EMBL Image Samples", emblcmci.teach.Sample_Loader("about")
EMBL>CourseModule, "About Plugins",  emblcmci.external.it.catania.ModuleInfo_("about")
EMBL>CourseModule, "-"
EMBL>CourseModule, "Logarithm", emblcmci.external.it.catania.Logarithm_
EMBL>CourseModule, "Power Law", emblcmci.external.it.catania.Power_Law
#EMBL>CourseModule, "Auto Gamma", Auto_Gamma
EMBL>CourseModule, "Contrast Stretching", emblcmci.external.it.catania.Contrast_Stretching
EMBL>CourseModule, "-"
EMBL>CourseModule, "HighpassFilters_", emblcmci.external.it.catania.HighpassFilters_
EMBL>CourseModule, "LowpassFilters ", emblcmci.external.it.catania.LowpassFilters_
EMBL>CourseModule, "BandControl ", emblcmci.external.it.catania.BandControl_
EMBL>CourseModule, "Bandpass Bandreject Filter", emblcmci.external.it.catania.Bandpass_Bandreject_Filter
EMBL>CourseModule, "Laplacian ", emblcmci.external.it.catania.Laplacian_ 
EMBL>CourseModule, "-"
EMBL>CourseModule, "Adaptive Filters", emblcmci.external.it.catania.Adaptive_Filters
EMBL>CourseModule, "Mean Filters", emblcmci.external.it.catania.Mean_Filters
EMBL>CourseModule, "Morphology", emblcmci.external.it.catania.Morphology_
EMBL>CourseModule, "Order_Statistics_Filters", emblcmci.external.it.catania.Order_Statistics_Filters
EMBL>CourseModule, "-"
EMBL>CourseModule, "LoG", emblcmci.external.it.catania.LoG_
EMBL>CourseModule, "Canny", emblcmci.external.it.catania.Canny_
EMBL>CourseModule, "Harris ", emblcmci.external.it.catania.Harris_
Help>About Plugins, "CMCI Course Modules", emblcmci.external.it.catania.ModuleInfo_("about")
#
# Literatures
#
EMBL>References, "Bolte & Cordelieres (2006), A guided tour into subcellular colocalization analysis in light microscopy", emblcmci.teach.Sample_Loader("http://www.ncbi.nlm.nih.gov/pubmed/17210054/")
EMBL>References, "Cromey (2010), Digital Imaging Ethics (PDF)", emblcmci.webio.URLSaver("http://swehsc.pharmacy.arizona.edu/exppath/resources/pdf/Digital_Imaging_Ethics.pdf")

EMBL>References, "Rossner & Yamada (2004) What's in a picture? The temptation of image manipulation", emblcmci.teach.Sample_Loader("http://jcb.rupress.org/content/166/1/11.full/")
EMBL>References, "Waters (2009), Accuracy and precision in quantitative fluorescence microscopy", emblcmci.teach.Sample_Loader("http://www.ncbi.nlm.nih.gov/pmc/articles/PMC2712964/")
